@use "../sass-utils/variables" as *;

.about-block {
    display: flex;
    margin: auto;
    margin-top: 100px;
    width: 1110px;
    height: 352px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);

    &__text {
        width: 890px;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        margin: 100px 110px;

        &_accent {
            color: $accentColor;
        }

    }
}