@use "../sass-utils" as *;

.map {
    width: 1250px;
    height: 774px;
    position: relative;
    overflow: hidden;

    &__header {
        width: 1250px;
        height: 80px;
        display: flex;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);

        &__toggler {
            display: flex;
            width: 200px;
            height: 24px;
            margin: 26px 70px;
            margin-right: 174px;

            background: none;
            border: none;
            cursor: pointer;

            p {
                margin: 0;
                font-size: 24px;
                line-height: 100%;
            }

            img {
                margin: 0;
                margin-left: 16px;
                width: 24px;
                height: 24px;
            }
        }

        &__region-list {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            gap: 30px;
        }
        &__region-item {
            button {
                height: 80px;
                padding: 0;
                font-size: 18px;
                line-height: 111%;
                background: none;
                border: none;
                cursor: pointer;

                &:hover {
                    color: $accentColorTone;
                }
            }  
            &_active {
                button {
                    color: $accentColorTone;
                    border-bottom: 3px solid $accentColor;
                }
            }         
        }
    }

    &__sub-menu {
        display: flex;
        position: absolute;
        top: -300px;
        padding: 30px 70px;
        width: 1250px;
        height: 272px;
        gap: 22px;
        background-color: white;
        box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.06);

        &__region {
            h3 {
                margin: 0;
                font-family: 'proxima-nova-semibold';
            }
            p {
                margin: 0;
                margin-top: 12px;
                font-size: 18px;
                line-height: 110%;
                font-family: 'proxima-nova-regular';
            }
        }
    }

    &__map-view {
        width: 1189px;
        height: 604px;
        margin: 0 30px;
        margin-top: 90px;
        position: relative;

        img {
            position: absolute;
        }
    }
}

@media screen and (max-width: 290px) {
    .map {
        height: 469px;
        width: auto;
    
        &__header {
            width: 290px;
            height: 95px;
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
            display: flex;
            flex-wrap: wrap;
    
            &__toggler {
                display: flex;
                width: auto;
                height: 20px;
                margin: 18px 5px;
                margin-bottom: 0;
                margin-right: 0;
    
                background: none;
                border: none;
                cursor: pointer;
    
                p {
                    font-size: 20px;
                    text-wrap: nowrap;
                }
    
                img {
                    width: 20px;
                    height: 20px;
                }
            }
    
            &__region-list {
                padding-left: 4px;
                gap: 16px;
                overflow-x: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            &__region-item {
                button {
                    height: 60px;
                    font-size: 14px;
                    line-height: 114%;
                    text-wrap: nowrap;
                }      
            }
        }
    
        &__sub-menu {
            display: flex;
            flex-wrap: wrap;
            padding: 5px;
            width: 290px;
            height: 158px;
            gap: 30px;
            overflow: hidden;
    
            &__region {
                h3 {
                    font-size: 14px;
                }
                p {
                    margin: 0;
                    margin-top: 12px;
                    font-size: 14px;
                    line-height: 100%;
                }
            }
        }
    
        &__map-view {
            width: 862px;
            height: 445px;
            margin: 0;
            position: relative;
            overflow: scroll;
    
            img {
                position: absolute;
                object-fit: contain;
                width: auto;
                height: 445px;
            }
        }
    }
}