@use "../sass-utils/variables" as *;

.mission {
    display: flex;
    margin-top: 100px;
    width: 1250px;
    height: 471px;
    background-color: $accentColorTone;
    position: relative;

    &__img {
        position: absolute;
        margin-top: 47px;

        &_right {
            margin-left: 954px;
        }
    }

    &__content {
        margin: 0 auto;
        margin-top: 140px;
        height: 192px;
    }

    &__text {
        font-family: 'proxima-nova-condensed-regular';
        color: white;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        margin-top: 40px;

        &_head {
            font-family: 'proxima-nova-condensed-semibold';
            font-size: 56px;
            line-height: 100%;
            margin: 0;
        }
    }

}