@use "../sass-utils/variables" as *;

.numbers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 185px;
    row-gap: 83px;
    justify-content: center;
    margin: 100px auto;
    width: 889px;
    height: 287px;

    &__container {
        max-width: 245px;
    }

    &__number {
        color: $accentColorTone;
        font-size: 80px;
        line-height: 80%;

        &_plus {
            font-size: 64px;
            color: $accentColorTone;
            line-height: 100%;
            margin-left: 10px;
        }

        &_char {
            font-family: 'proxima-nova-condensed-black';
            font-size: 64px;
            color: $accentColorTone;
            line-height: 100%;
            margin-right: 10px;
        }
    }

    &__label {
        font-family: 'proxima-nova-condensed-regular';
        font-size: 18px;
        line-height: 150%;
    }
}

