@use "../sass-utils" as *;

.banner {
    display: flex;
    height: 600px;
    background-image: url("/img/bg.png");

    &__container {
        height: 340px;
        width: 709px;
        margin-top: 158px;
        margin-left: 70px;
    }

    &__text {
        font-size: 56px;
        margin: 0;
        line-height: 100%;
        margin-bottom: 60px;
    }
}

.about-block {
    display: flex;
    margin: auto;
    margin-top: 100px;
    width: 1110px;
    height: 352px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);

    &__text {
        text-wrap: balance;
        width: 890px;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        margin: 100px 110px;

        &_accent {
            color: $accentColor;
        }

    }
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 185px;
    row-gap: 83px;
    justify-content: center;
    margin: 100px auto;
    width: 889px;
    height: 287px;

    &__container {
        max-width: 245px;
    }

    &__number {
        color: $accentColorTone;
        font-size: 80px;
        line-height: 80%;

        &_plus {
            font-size: 64px;
            color: $accentColorTone;
            line-height: 100%;
            margin-left: 10px;
        }

        &_char {
            font-family: 'proxima-nova-condensed-black';
            font-size: 64px;
            color: $accentColorTone;
            line-height: 100%;
            margin-right: 10px;
        }
    }

    &__label {
        font-family: 'proxima-nova-condensed-regular';
        font-size: 18px;
        line-height: 150%;
    }
}

.mission {
    display: flex;
    margin-top: 100px;
    width: 1250px;
    height: 471px;
    background-color: $accentColorTone;
    position: relative;

    &__img {
        position: absolute;
        margin-top: 47px;

        &_right {
            margin-left: 954px;
        }
    }

    &__content {
        margin: 0 auto;
        margin-top: 140px;
        height: 192px;
    }

    &__text {
        font-family: 'proxima-nova-condensed-regular';
        color: white;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        margin-top: 40px;

        &_head {
            font-family: 'proxima-nova-condensed-semibold';
            font-size: 56px;
            line-height: 100%;
            margin: 0;
        }
    }

}

.grid-list {
    margin: 100px auto;
    height: 936px;

    &__header {
        text-align: center;
        font-size: 56px;
        line-height: 100%;
        margin-top: 0;
        margin-bottom: 55px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
    }
}

.benefits {
    width: 1110px;
    height: 861px;
    margin: 100px auto;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
    padding: 80px 0;

    &__title {
        margin-top: 0;
        font-size: 56px;
        line-height: 100%;
        text-align: center;
    }

    &__pin-container {
        margin: 50px auto;
        width: 954px;
        display: flex;
        flex-direction:row;
        gap: 16px;
        justify-content: center;
    }

    &__pin {
        display: flex;
        flex-direction: column;
        width: 178px;
        height: 160px;
    }

    &__icon {
        display: flex;
        margin: 0 auto;
        margin-bottom: 10px;
        justify-content: center;
        width: 110px;
        height: 110px;
        background-color: $pinRadialColor;
        border-radius: 100%;
        padding: 31px;
    }

    &__pin-text {
        margin: 0;
        font-family: 'proxima-nova-condensed-regular';
        font-size: 18px;
        line-height: 110%;
        text-align: center;
    }

    &__divider {
        margin: 25px 30px;
    }

    &__text {
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        margin: 0;
        margin-top: 40px;

        &_accent {
            margin: 0;
            color: $accentColor;
        }
    }
}

@media screen and (max-width: 290px) {
    .banner {
        width: 290px;
        height: 300px;
        background-size: cover;
        background-position: center;
    
        &__container {
            width: 280px;
            height: 184px;
            margin-top: 40px;
            margin-left: 5px;
        }
    
        &__text {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }

    .about-block {
        margin-top: 60px;
        width: 290px;
        height: 181px;
    
        &__text {
            margin: 24px 0;
            font-size: 16px;
            text-wrap: pretty;    
        }
    }

    .numbers {
        flex-wrap: wrap;
        margin: 50px auto;
        width: 264px;
        height: 242px;
        column-gap: 0;
        row-gap: 25px;
        justify-content: space-around;
    
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        &__number {
            font-size: 40px;
            margin: 0 auto;
    
            &_plus {
                font-size: 30px;
                margin-left: 3px;
            }
    
            &_char {
                font-size: 30px;
                margin-right: 3px;
            }
        }
    
        &__label {
            font-size: 16px;
            text-align: center;
        }
    }

    .mission {
        display: flex;
        margin-top: 50px;
        width: 290px;
        height: 186px;
    
        &__img {
            position: absolute;
            margin-top: 10px;
            width: 95px;
            height: 155px;
    
            &_right {
                margin-left: 200px;
            }
        }
    
        &__content {
            margin: 0;
            margin-top: 30px;
            padding: 0 5px;
            height: 122px;
        }
    
        &__text {
            font-size: 16px;
            line-height: 130%;
            margin-top: 5px;
            text-wrap: stable;
    
            &_head {
                margin: 0;
                font-size: 28px;
            }
        }
    
    }

    .grid-list {
        margin: 50px auto;
        height: auto;
    
        &__header {
            font-size: 28px;
            margin-top: 0;
            margin-bottom: 15px;
        }
    
        &__container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
        }
    }

    .benefits {
        width: 290px;
        height: 922px;
        margin: 50px auto;
        padding: 23px 0;
    
        &__title {
            font-size: 27px;
            text-wrap: nowrap;
            margin-bottom: 40px;
        }
    
        &__pin-container {
            margin: 0;
            margin-top: 30px;
            width: 290px;
            flex-wrap: wrap;
            gap: 16px;
            row-gap: 40px;
        }
    
        &__pin {
            width: 120px;
            height: 108px;
        }
    
        &__icon {
            width: 40px;
            height: 40px;
            padding: 20px 40px 60px 40px;
            img {
                width: 35px;
                height: 35px;
            }
        }
    
        &__pin-text {
            font-size: 16px;
        }
    
        &__divider {
            margin: 24px 0;
            width: 280px
        }
    
        &__text {
            font-size: 22px;
            margin-top: 0;
        }
    }
}