@use "../sass-utils" as *;

@font-face {
    font-family: 'proxima-nova-regular';
    src: url('/fonts/proximanova_regular.ttf');
}

@font-face {
    font-family: 'proxima-nova-semibold';
    src: url('/fonts/proximanova_semibold.ttf');
}

@font-face {
    font-family: 'proxima-nova-condensed-regular';
    src: url('/fonts/proximanovacond_regular.ttf');
}

@font-face {
    font-family: 'proxima-nova-condensed-semibold';
    src: url('/fonts/proximanovacond_semibold.woff');
}

@font-face {
    font-family: 'proxima-nova-condensed-black';
    src: url('/fonts/proximanovacond_black.otf');
}

* {
    font-family: 'proxima-nova-condensed-semibold';
    color: $textColor;
}