$accentColor: #B01736;
$accentColorTone: #A30C33;

$pinRadialColor: #f2f2f2;
$pinRadialColorHovered: #e2e2e2;

$textColor: #444444;

$buttonColor: #B01736;
$buttonHoverColor: #D43152;


$buttonCornerRadius: 8px;